@charset "ISO-8859-1";

#box {
	display: flex;
	justify-content: center;
}
table, th, td{
	border: 2px solid black;
	border-collapse: collapse;
	font-size: 32px;
}
#create {
	display: inline-block;
	font-size: 20px;
}
#box2 {
	display: flex;
	justify-content: center;
}
#box2 input {
	margin-left: 100px;
}